<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1>Personal Cabinet</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <!-- navigation -->
          <h6>Menu</h6>
          <div class="profile-menu">
            <button routerLink="info">
              <img src="" alt="">
              <span>Personal Information</span>
            </button>
            <button routerLink="published-pets">
              <img src="" alt="">
              <span>Published Pets</span>
            </button>
            <button routerLink="security">
              <img src="" alt="">
              <span>Account Security</span>
            </button>
            <button routerLink="liked-pets">
              <img src="" alt="">
              <span>Liked Pets</span>
            </button>
            <button routerLink="post-pet">
              <img src="" alt="">
              <span>Post New Pet</span>
            </button>
            <hr>
            <button (click)="logout()">
              <img src="" alt="">
              <span >Log Out</span>
            </button>
          </div>
        </div>
        <div class="col-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>