<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1>Personal Cabinet</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <!-- navigation -->
          <h6>Menu</h6>
          <div class="profile-menu">
            <button routerLinkActive="active" routerLink="info">
              <div></div>
              <img src="../../../../assets/icons/user-01.svg" alt="">
              <span>Personal Information</span>
            </button>
            <button routerLinkActive="active" routerLink="published-pets">
              <div></div>
              <img src="../../../../assets/icons/face-smile.svg" alt="">
              <span>Published Pets</span>
            </button>
            <button routerLinkActive="active" routerLink="security">
              <div></div>
              <img src="../../../../assets/icons/lock-01.svg" alt="">
              <span>Account Security</span>
            </button>
            <button routerLinkActive="active" routerLink="liked-pets">
              <div></div>
              <img src="../../../../assets/icons/hearts.svg" alt="">
              <span>Liked Pets</span>
            </button>
            <button routerLinkActive="active" routerLink="post-pet">
              <div></div>
              <img src="../../../../assets/icons/plus-square.svg" alt="">
              <span>Post New Pet</span>
            </button>
            <hr>
            <button (click)="logout()">
              <div></div>
              <img src="../../../../assets/icons/log-out-01.svg" alt="">
              <span >Log Out</span>
            </button>
          </div>
        </div>
        <div class="col-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>