<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="" alt="">
    </div>
    <div class="col-4 d-flex align-items-center">
      <a routerLink="/">Main</a>
      <a href="">Donations</a>
      <a href="">Pets</a>
      <a routerLink="shelters">Shelters</a>
      <a href="">Forum</a>
    </div>
    <div class="col-4" *ngIf="!isAuthenticated">
      <button>Log in</button>
      <button>Sign up</button>
    </div>
    <div class="col-4" *ngIf="isAuthenticated">
      <button routerLink="profile">
        <span>{{fullName}}</span>
        <img src="../../../../assets/icons/user.svg" alt="">
      </button>
    </div>
  </div>
</div>