<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <img src="" alt="">
          <span>Doggy</span>
        </div>
        <div class="col-6 d-flex align-items-center">
          <a href="">Main</a>
          <a href="">Donations</a>
          <a href="">Pets</a>
          <a href="">Shelters</a>
          <a href="">Forum</a>
        </div>
      </div>
    </div>
  </div>
</div>