<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="securityForm" class="security-form"(ngSubmit)="changePassword()" >
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" name="oldPassword" type="password">
        <label for="password">New Password</label>
        <input formControlName="password" name="password" type="password">
        <label for="confirmPassword">Repeat Password</label>
        <input formControlName="confirmPassword" name="confirmPassword" type="password">
        <button type="submit" [disabled]="!securityForm.valid">Save Changes</button>
      </form>
    </div>
    <div class="col-6">
      <h6>Note</h6>
      <p>
        Try to remember your password or write it down somewhere in case you forget it. If did so, you can ask to
        restore it via email while logging in!
      </p>
    </div>
  </div>
</div>