<div class="container p-0">
  <div class="row">
    <div class="col">
      <div class="row" style="background-color:#D4C7FD;">
        <div class="col">
          <div class="row py-5 px-0">
            <div class="col d-flex align-items-center flex-column">
              <h1 class="font-weight-main" style="font-size: 60px;">Adopt a PET,</h1>
              <h1 class="font-weight-main" style="font-size: 60px;">get a FRIEND</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <input class="text-input mx-2" type="text" placeholder="Search for a pet or shelter">
                  <button style="border-radius: 24px;" class="btn btn-dark">Search</button>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col d-flex justify-content-center">
                  <p>You can find there pets or shelters by their id or name, just type</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div class="row mb-5">
            <div class="col" style="padding-inline: 10%;">
              <h3>So what is Doggy project about?</h3>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-4 d-flex align-items-center justify-content-center">
              <img id="dog" src="../../../../assets/dog-main.svg" alt="">
            </div>
            <div class="col-8 px-5">
              <div class="row my-3">
                <div class="col-6">
                  <h5 class="text-purple">WHAT IS OUR PURPOSE</h5>
                </div>
                <div class="col-6">
                  <hr class="hr-thick">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Our pet adoption project aims to connect pets in need with loving and responsible adopters. We work
                    with local shelters and rescue organizations to help find forever homes for cats, dogs, and other
                    animals who have been abandoned, surrendered, or rescued.</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>We believe that every pet deserves a second chance at a happy and healthy life, and we are
                    committed to finding the right match for each animal and adopter. Our adoption process includes a
                    thorough screening process to ensure that the adopter is ready and able to provide a safe and loving
                    home for the pet.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-8 px-5">
              <div class="row my-3">
                <div class="col-6">
                  <hr>
                </div>
                <div class="col-6">
                  <h5 class="text-right text-purple">WHAT ACTUALLY WE DO</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Our pet adoption project aims to connect pets in need with loving and responsible adopters. We work
                    with local shelters and rescue organizations to help find forever homes for cats, dogs, and other
                    animals who have been abandoned, surrendered, or rescued.</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>We believe that every pet deserves a second chance at a happy and healthy life, and we are
                    committed to finding the right match for each animal and adopter. Our adoption process includes a
                    thorough screening process to ensure that the adopter is ready and able to provide a safe and loving
                    home for the pet.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img id="cat" src="../../../../assets/cat-main.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>