<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row ">
            <div class="col d-flex justify-content-center">
              <h1>Adopt some PETS, get some FRIENDS</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <input class="searchbar" type="text" placeholder="Search for a pet or shelter"><button>Search</button><input/>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <p>You can find there pets or shelters by their id or name, just type</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h3>So what is Doggy project about?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <img src="" alt="">
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <h5>WHAT IS OUR PURPOSE</h5>
                </div>
                <div class="col-6">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Our pet adoption project aims to connect pets in need with loving and responsible adopters. We work
                    with local shelters and rescue organizations to help find forever homes for cats, dogs, and other
                    animals who have been abandoned, surrendered, or rescued.</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>We believe that every pet deserves a second chance at a happy and healthy life, and we are
                    committed to finding the right match for each animal and adopter. Our adoption process includes a
                    thorough screening process to ensure that the adopter is ready and able to provide a safe and loving
                    home for the pet.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <hr>
                </div>
                <div class="col-6">
                  <h5>WHAT ACTUALLY WE DO</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Our pet adoption project aims to connect pets in need with loving and responsible adopters. We work
                    with local shelters and rescue organizations to help find forever homes for cats, dogs, and other
                    animals who have been abandoned, surrendered, or rescued.</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>We believe that every pet deserves a second chance at a happy and healthy life, and we are
                    committed to finding the right match for each animal and adopter. Our adoption process includes a
                    thorough screening process to ensure that the adopter is ready and able to provide a safe and loving
                    home for the pet.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>