<div class="comtainer">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-10">
          <h1>Look for shelters!</h1>
        </div>
        <div class="col-2">
          <button>Create shelter profile</button>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <input type="text">
          <button>Search</button>
        </div>
        <div class="col-2">
          <select name="" id="">
            <option value="">Sort by</option>
          </select>
          <select name="" id="">
            <option value="">Filters</option>
          </select>
        </div>
      </div>
      <div class="row">
        <app-shelter-search-result></app-shelter-search-result>
      </div>
    </div>
  </div>
</div>