<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="postPetForm" (ngSubmit)="onPostpet()" class="row">
        <div class="col-6">
          <app-file-upload [params]="fileUploadParams"></app-file-upload>
        </div>
        <div class="col-6 d-flex flex-column">
          <div class="inputLabeled mb-2">
            <label for="petName">Pets's name</label>
            <input formControlName="petName" name="petName" type="text">
          </div>
          <div class="inputLabeled mb-2">
            <label for="description">Short description</label>
            <textarea id="currentTextarea" formControlName="description" name="description" cols="30" rows="10">
          </textarea>
          </div>
          <label for="petCategory">Pet Category</label>
          <select class="mb-5" formControlName="petCategory" name="petCategory">
            <option value="0">Get pets categories from db????</option>
          </select>
          <div>
            <input class="checkBoxElement" formControlName="termsAndPolicies" type="checkbox" name="termsAndPolicies">
            <label for="termsAndPolicies">
              I agree with
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">Terms and
                Policies</a>
            </label>
          </div>
          <button class="mt-2" type="submit" [disabled]="!postPetForm.valid">Post a pet</button>
        </div>
      </form>
    </div>
  </div>
</div>